a {
  color: rgba(236, 236, 236, 0.8);
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ececec;
}
h1 {
  font-size: 70px;
  margin: 0 0 0 80px;
  color: #142d4c;
}
p {
  font-family: "Poppins", sans-serif;
  color: #142d4c;
  margin-bottom: 0;
}
a:hover {
  color: rgba(236, 236, 236, 0.8);
  text-decoration: none;
}
.celsius {
  color: #142d4c;
  bottom: 40px;
  font-size: 20px;
  position: relative;
  right: 20px;
}
.coded-by {
  font-size: 12px;
  color: rgba(236, 236, 236, 0.8);
}
.container {
  margin: 0;
  padding: 0;
}
.current-city {
  color: #142d4c;
  font-size: 40px;
}

.current-date {
  font-size: 12px;
  text-align: right;
  color: rgba(236, 236, 236, 0.8);
}

.current-icon {
  padding-left: 0;
}
.current-location-button {
  border: 2px solid #c9d7eb;
  padding: 7px 25px;
  margin: 0 0 0 40px;
}
.current-weather {
  margin: 70px 0 90px 0;
  color: #142d4c;
}

.current-weather-description {
  color: #142d4c;
  margin-bottom: 25px;
}

.current-weather-description:first-letter {
  text-transform: capitalize;
}

.footer {
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.forecast-date {
  font-size: 16px;
  opacity: 0.8;
}
.forecast-temperatures {
  color: #142d4c;
  font-size: 13px;
}
.forecast-temperatures-min {
  opacity: 0.7;
}
.github-link {
  font-size: 12px;
  border-right: 2px solid #ececec;
  border-left: 2px solid #ececec;
}
.linked-link {
  font-size: 12px;
}
.search-bar {
  padding-right: 12px;
}

.search-btn {
  padding-left: 0;
}

.search-button {
  border: 2px solid black;
  padding: 7px 15px;
  margin: 0 auto;
}
.search-input {
  padding: 7px;
  margin: 0 auto;
}

.temperature-heading {
  padding-right: 0;
}

.weather-app {
  margin: 0 auto;
  text-align: center;
}
.weather-box {
  border: 2px solid rgb(56, 81, 112);
  border-radius: 10px;
  max-width: 80%;
  padding: 20px 20px 5px 20px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  background: rgba(159, 211, 199, 0.7);
}
.weather-forecast {
  color: #142d4c;
  margin-bottom: 20px;
}
.weather-information {
  color: #142d4c;
  font-size: 20px;
  margin: 0 auto;
}

body.rainy {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/011/928/original/rain-m-resize2.jpg?1625011397");
}

body.cloudy {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/011/930/original/light-clouds-resize3.jpg?1625015339");
}

body.sunny {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/011/929/original/sun-resize.jpg?1625011644");
}
