a {
  text-decoration: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ececec;
}
h1 {
  font-size: 70px;
  margin: 0;
  color: #142d4c;
}
p {
  font-family: "Poppins", sans-serif;
  color: #142d4c;
}
a:hover {
  text-decoration: underline;
}
.celsius {
  color: #142d4c;
  bottom: 40px;
  font-size: 20px;
  position: relative;
  right: 20px;
}
.current-city {
  color: #142d4c;
  font-size: 40px;
  margin-bottom: 5px;
}

.current-date {
  font-size: 12px;
  margin: 10px 0 0 0;
}
.current-location-button {
  border: 2px solid #c9d7eb;
  padding: 7px 25px;
}
.current-weather {
  margin: 70px 0;
  color: #142d4c;
}

.current-weather-description {
  color: #142d4c;
}

.current-weather-description:first-letter {
  text-transform: capitalize;
}
.forecast-date {
  font-size: 16px;
  opacity: 0.7;
}
.forecast-temperatures {
  color: #142d4c;
  font-size: 13px;
}
.forecast-temperatures-min {
  opacity: 0.5;
}
.github-link {
  font-size: 12px;
  margin-top: 2px;
}
.search-button {
  border: 2px solid black;
  padding: 7px 15px;
}
.search-input {
  padding: 7px;
}
.weather-app {
  margin: 30px auto;
  max-width: 70%;
  text-align: center;
}
.weather-box {
  border: 2px solid rgb(56, 81, 112);
  border-radius: 10px;
  padding: 20px;
  background: #9fd3c7;
}
.weather-forecast {
  color: #142d4c;
  margin-bottom: 20px;
}
.weather-information {
  color: #142d4c;
  font-size: 18px;
  margin: 0 auto;
}
